RewriteEngine On

# Ativa o mod_rewrite e redireciona tudo para index.php, exceto arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]